<template>
  <footer class="flex justify-between px-8 py-4 mt-4 text-xs font-bold text-gray-500 bg-white border-t-2">
    <div class="space-x-4 plex">
      <a href="#" class="hover:text-indigo-600">User Guide</a>
      <a href="#" class="font-bold hover:text-indigo-600">FAQ</a>
      <a href="#" class="font-bold hover:text-indigo-600">Support</a>
    </div>
    <div> Copyright © 2019-{{ new Date().getFullYear() }} CBT</div>
  </footer>
</template>

<script>
export default {}
</script>
