<template>
<!-- component -->
<div v-if="currentUser">
    <div class="flex justify-between px-4 mt-4 sm:px-8">
        <h2 class="text-2xl text-gray-600">Create Schedule</h2>

        <div class="flex items-center space-x-1 text-xs">
            <router-link to="/home" class="font-bold text-indigo-700">Home</router-link>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-2 h-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
            <span class="text-gray-600">schedule</span>
        </div>
    </div>
    <div class="items-center justify-center mx-4 mt-2">
        <div class="max-w-xl px-4 py-8 mx-auto bg-white shadow rounded-xl sm:rounded-lg sm:px-10">
            <div class="flex flex-col items-center sm:flex-row">
                <h2 class="mr-auto text-lg font-semibold">Create Schedule</h2>
                <div class="w-full mt-3 sm:w-auto sm:ml-auto sm:mt-0"></div>
            </div>

            <div class="mt-5">
                <div class="form">
                    <div class="flex flex-col w-full mb-3">
                        <label class="py-2 text-sm font-semibold text-left text-gray-600">Name:<abbr title="required">*</abbr></label>
                        <div class="relative flex flex-wrap items-stretch w-full mb-4">
                            <input type="text" v-model="schedule.jobName" class="relative flex-auto flex-grow flex-shrink w-px h-10 px-3 leading-normal border rounded-lg border-grey-lighter border-grey-light focus:border-blue focus:shadow" placeholder=" Enter Name..." required="required" />
                        </div>
                    </div>

                    <div class="flex flex-col w-full mb-3">
                        <label class="py-2 text-sm text-left text-gray-600">Organization:<abbr title="required">*</abbr></label>
                        <select v-model="schedule.organization" name="organizationId" class="block w-full h-10 px-4 border rounded-lg cursor-pointer bg-grey-lighter text-grey-darker border-grey-lighter md:w-full" required="required">
                            <option v-for="(organization, key) in filteredOrganizations" :value="organization.id" :key="key">
                                {{ organization.organizationName }}
                            </option>
                        </select>
                    </div>

                    <div class="flex flex-col w-full mb-3">
                        <label class="py-2 text-sm text-left text-gray-600">Year:<abbr title="required">*</abbr></label>
                        <select v-model="selectedYear" @change="updateDays" class="block w-full h-10 px-4 border rounded-lg cursor-pointer bg-grey-lighter text-grey-darker border-grey-lighter md:w-full" required="required">
                            <option v-for="year in years" :key="year" :value="year">
                                {{ year }}
                            </option>
                        </select>
                    </div>

                    <div class="flex flex-col w-full mb-3">
                        <label class="py-2 text-sm text-left text-gray-600">Month:<abbr title="required">*</abbr></label>
                        <select v-model="selectedMonth" @change="updateDays" class="block w-full h-10 px-4 border rounded-lg cursor-pointer bg-grey-lighter text-grey-darker border-grey-lighter md:w-full" required="required">
                            <option v-for="(month, key) in months" :value="month.value" :key="key" :disabled="
                    selectedYear === currentYear && month.value < currentMonth
                  ">
                                {{ month.name }}
                            </option>
                        </select>
                    </div>

                    <div class="flex flex-col w-full mb-3">
                        <label class="py-2 text-sm text-left text-gray-600">Day:<abbr title="required">*</abbr></label>
                        <select v-model="selectedDay" @change="updateDays" class="block w-full h-10 px-4 border rounded-lg cursor-pointer bg-grey-lighter text-grey-darker border-grey-lighter md:w-full" required="required">
                            <option v-for="day in days" :key="day" :value="day" :disabled="
                    selectedYear === currentYear &&
                    selectedMonth === currentMonth &&
                    day < currentDay
                  ">
                                {{ day.toString().padStart(2, "0") }}
                            </option>
                        </select>
                    </div>

                    <div class="flex flex-col w-full mb-3">
                        <label class="py-2 text-sm text-left text-gray-600">Hour(24hour):<abbr title="required">*</abbr></label>
                        <select v-model="selectedHour" class="block w-full h-10 px-4 border rounded-lg cursor-pointer bg-grey-lighter text-grey-darker border-grey-lighter md:w-full" required="required">
                            <option v-for="hour in hours" :key="hour" :value="hour" :disabled="
                    selectedYear === currentYear &&
                    selectedMonth === currentMonth &&
                    selectedDay === currentDay &&
                    hour < currentHour
                  ">
                                {{ hour.toString().padStart(2, "0") }}
                            </option>
                        </select>
                    </div>
                    <div class="flex flex-col w-full mb-3">
                        <label class="py-2 text-sm text-left text-gray-600">Minutes:<abbr title="required">*</abbr></label>
                        <select v-model="selectedMinute" name="scheduleMinutes" class="block w-full h-10 px-4 border rounded-lg cursor-pointer bg-grey-lighter text-grey-darker border-grey-lighter md:w-full" required="required">
                            <!-- <option v-for="(minute, key) in validMinutes" :value="minute" :key="key"> {{ minute.toString().padStart(2, "0") }}
                            </option> -->
                            <option v-for="minute in minutes" :key="minute" :value="minute">{{ minute }}</option>
                        </select>
                    </div>

                    <div class="flex flex-col w-full mb-3">
                        <label class="py-2 text-sm font-semibold text-left text-gray-600">Enter Cron Expression:<abbr title="required">*</abbr></label>
                        <div class="relative flex flex-wrap items-stretch w-full mb-4">
                            <input type="text" v-model="schedule.cronExpression" class="relative flex-auto flex-grow flex-shrink w-px h-10 px-3 leading-normal border rounded-lg border-grey-lighter border-grey-light focus:border-blue focus:shadow" placeholder=" Year" />
                        </div>
                    </div>

                    <div class="flex flex-col w-full mb-3">
                        <label class="py-2 text-sm text-left text-gray-600">Select sample cron:<abbr title="required">*</abbr></label>
                        <select v-model="schedule.cronExpression" name="scheduleExpressionSelect" class="block w-full h-10 px-4 border rounded-lg cursor-pointer bg-grey-lighter text-grey-darker border-grey-lighter md:w-full" required="required">
                            <option v-for="(cron, key) in crons" :value="cron.value" :key="key">
                                {{ cron.name }}
                            </option>
                        </select>
                    </div>

                    <div class="flex flex-col w-full mb-3">
                        <label class="py-2 text-sm text-left text-gray-600">Schedule Type:<abbr title="required">*</abbr></label>
                        <select v-model="schedule.jobType" name="status" class="block w-full h-10 px-4 border rounded-lg cursor-pointer bg-grey-lighter text-grey-darker border-grey-lighter md:w-full" required="required">
                            <option value="sendsms">Send Sms</option>
                            <option value="outbox">Process Outbox</option>
                            <option value="inbox">Process Inbox</option>
                            <option value="subscription">Process subscription</option>
                            <option value="deivery">Query delivery</option>
                            <option value="other">Others</option>
                        </select>
                    </div>

                    <div class="flex flex-col-reverse mt-5 text-right md:space-x-3 md:block">
                        <button @click.prevent="saveSchedule" class="px-5 py-2 mb-2 text-sm font-medium tracking-wider text-white bg-green-400 rounded-full md:mb-0 hover:shadow-lg hover:bg-green-500">
                            Schedule
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import OrganizationService from "../../service/organization.service";
import ShortcodeService from "../../service/shortcode.service";
import SmsService from "../../service/smsservice.service";
import ScheduleService from "../../service/schedule.service";
import EventBus from "../../common/EventBus";
import Swal from "sweetalert2";
import store from "@/store";
export default {
    name: "add-organization",
    computed: {
        currentUser() {
            return store.state.user;
        },
        //copy this omwami
        userOrganizationId() {
            return this.currentUser ? this.currentUser.organization : null;
        },
        filteredOrganizations() {
            if (!this.organizations || !this.currentUser) {
                return [];
            }

            // Check if the user has root privileges
            const hasRootPrivilege = this.hasRootPrivilege(this.currentUser);

            // If user has root privileges, show all organizations
            if (hasRootPrivilege) {
                return this.organizations;
            }

            // Otherwise, filter the organizations based on the logged-in user's organization ID
            return this.organizations.filter(
                (org) => org.id === this.currentUser.organization
            );
        },
    },
    props: {
        year: {
            type: Number,
            required: true,
        },
    },
    data() {
        return {
            crons: [{
                    name: "Every 1 minute",
                    value: "0 0/1 * 1/1 * ? *"
                },
                {
                    name: "Every 2 minute",
                    value: "0 0/2 * 1/1 * ? *"
                },
                {
                    name: "Every 5 minute",
                    value: "0 0/5 * 1/1 * ? *"
                },
                {
                    name: "Every 10 minute",
                    value: "0 0/10 * 1/1 * ? *"
                },
                {
                    name: "Every 15 minute",
                    value: "0 0/15 * 1/1 * ? *"
                },
                {
                    name: "Every 20 minute",
                    value: "0 0/20 * 1/1 * ? *"
                },
                {
                    name: "Every 30 minute",
                    value: "0 0/30 * 1/1 * ? *"
                },
                {
                    name: "Every 1 hour",
                    value: "0 0 0/1 1/1 * ? *"
                },
                {
                    name: "Every day",
                    value: "0 0 12 1/1 * ? *"
                },
                {
                    name: "Every Week Day MON-FRI",
                    value: "0 0 12 ? * MON-FRI *"
                },
                {
                    name: "Every Friday",
                    value: "0 0 12 ? * FRI *"
                },
                {
                    name: "Every Month",
                    value: "0 0 12 1 1/1 ? *"
                },
                {
                    name: "Every Year",
                    value: "0 0 12 29 12 ? *"
                },
            ],
            months: [{
                    name: "January",
                    value: 0
                },
                {
                    name: "February",
                    value: 1
                },
                {
                    name: "March",
                    value: 2
                },
                {
                    name: "April",
                    value: 3
                },
                {
                    name: "May",
                    value: 4
                },
                {
                    name: "June",
                    value: 5
                },
                {
                    name: "July",
                    value: 6
                },
                {
                    name: "August",
                    value: 7
                },
                {
                    name: "September",
                    value: 8
                },
                {
                    name: "October",
                    value: 9
                },
                {
                    name: "November",
                    value: 10
                },
                {
                    name: "December",
                    value: 11
                },
            ],

            years: [],
            days: [],
            hours: Array.from({
                length: 24
            }, (_, i) => i),
            minutes: Array.from({
                length: 60
            }, (_, i) => i),

            currentYear: new Date().getFullYear(),
            currentMonth: new Date().getMonth(),
            currentDay: new Date().getDate(),
            currentHour: new Date().getHours(),
            currentMinute: new Date().getMinutes(),
            selectedYear: null,
            selectedMonth: null,
            selectedDay: null,
            selectedHour: null,
            selectedMinute: null,

            organizations: [],
            shortcodes: [],
            service: {
                id: null,
                shortcode: "",
                type: "",
                serviceName: "",
                organizationId: "",
                published: false,
            },

            schedule: {
                jobName: "",
                organization: "",
                jobScheduleTime: "",
                jobType: "",
                cronExpression: "",
                description: "",
            },

            submitted: false,
        };
    },
    methods: {
        validYears() {
            return this.years;
        },
        validMonths() {
            if (this.selectedYear === this.currentYear) {
                return this.months.slice(this.currentMonth);
            } else {
                return this.months;
            }
        },
        validDays() {
            if (
                this.selectedYear === this.currentYear &&
                this.selectedMonth === this.currentMonth
            ) {
                return this.days.slice(this.currentDay - 1);
            } else {
                return this.days;
            }
        },
        validHours() {
            if (
                this.selectedYear === this.currentYear &&
                this.selectedMonth === this.currentMonth &&
                this.selectedDay === this.currentDay
            ) {
                return this.hours.slice(this.currentHour);
            } else {
                return this.hours;
            }
        },
        validMinutes() {
            if (
                this.selectedYear === this.currentYear &&
                this.selectedMonth === this.currentMonth &&
                this.selectedDay === this.currentDay &&
                this.selectedHour === this.currentHour
            ) {
                return this.minutes.slice(this.currentMinute);
            } else {
                return this.minutes;
            }
        },
        hasRootPrivilege(user) {
            return user.roles.includes("ROOT_PRIVILEGE");
        },

        saveSchedule() {
            //  var jobScheduleDateTime =  `${this.selectedYear}/${this.selectedMonth}/${this.selectedDay} ${this.selectedHour}:${this.selectedMinute}`
            //var jobScheduleDateTime =  new Date(this.selectedYear,this.selectedMonth,this.selectedDay,this.selectedHour,this.selectedMinute);
            var jobScheduleDateTime = null;
            if (
                this.selectedYear &&
                this.selectedMonth &&
                this.selectedDay &&
                this.selectedHour &&
                this.selectedMinute
            ) {
                jobScheduleDateTime = `${this.selectedYear}/${this.selectedMonth}/${this.selectedDay} ${this.selectedHour}:${this.selectedMinute}`;
            }
            var data = {
                jobName: this.schedule.jobName,
                organization: this.schedule.organization,
                orgName: this.schedule.organization,
                jobScheduleTime: jobScheduleDateTime,
                jobType: this.schedule.jobType,
                cronExpression: this.schedule.cronExpression,
                description: this.schedule.description,
            };

            ScheduleService.createSchedule(data)
                .then((response) => {
                    // this.service.id = response.data.id;
                    console.log(response.data);
                    this.submitted = true;
                    this.$router.push({name:'schedules'});
                })
                .catch((e) => {
                    //   if (e.response && e.response.status === 403) {
                    //   EventBus.dispatch("logout");
                    // }
                    console.log(e);
                });
        },
        saveService() {
            var data = {
                shortcode: this.service.shortcode,
                serviceName: this.service.serviceName,
                serviceType: this.service.type,
                organization: this.service.organizationId,
            };

            SmsService.create(data)
                .then((response) => {
                    this.service.id = response.data.id;
                    console.log(response.data);
                    this.submitted = true;
                    Swal.fire({
                        icon: "success",
                        title: "Schedule Created successfully!",
                        showConfirmButton: false,
                        timer: 2000,
                    });
                    this.$router.push({name:'schedules'});
                })
                .catch((e) => {
                    if (e.response && e.response.status === 403) {
                        EventBus.dispatch("logout");
                    }
                    console.log(e);
                });
        },
        async retrieveOrganizations() {
            OrganizationService.getAll()
                .then((response) => {
                    this.organizations = response.data.items;
                    console.log(this.organizations.items);
                })
                .catch((e) => {
                    console.log(e);
                    //   if (e.response && e.response.status === 403) {
                    //   EventBus.dispatch("logout");
                    // }
                });
        },
        async retrieveShrotcodes() {
            ShortcodeService.getAll()
                .then((response) => {
                    this.shortcodes = response.data.items;
                    console.log(this.shortcodes);
                })
                .catch((e) => {
                    console.log(e);
                    if (e.response && e.response.status === 403) {
                        EventBus.dispatch("logout");
                    }
                });
        },
        newShortcode() {
            this.submitted = false;
            this.organization = {};
        },
        updateDays() {
            const daysInMonth = new Date(
                this.selectedYear,
                this.selectedMonth + 1,
                0
            ).getDate();
            this.days = Array.from({
                length: daysInMonth
            }, (_, i) => i + 1);
        },
    },
    watch: {
        selectedYear() {
            if (!this.selectedMonth) {
                this.selectedMonth = this.currentMonth;
                this.updateDays();
            }
        },
        selectedMonth() {
            if (!this.selectedDay) {
                this.selectedDay = this.currentDay;
                this.updateDays();
            }
        },
        selectedDay() {
            if (!this.selectedHour) {
                this.selectedHour = this.currentHour;
            }
        },
    },
    mounted() {
        if (!this.currentUser) {
            this.$router.push("/");
            const currentYear = new Date().getFullYear();
            this.years = Array.from({
                length: 5
            }, (_, i) => currentYear + i);
            this.selectedYear = currentYear;
            this.selectedMonth = new Date().getMonth();
            this.updateDays();
        }
        this.retrieveOrganizations();
        this.retrieveShrotcodes();

        for (let year = this.currentYear; year <= this.currentYear + 5; year++) {
            this.years.push(year);
        }

        // Set initial selected values
        this.selectedYear = this.currentYear;
        this.selectedMonth = this.currentMonth;
        this.selectedDay = this.currentDay;
        this.selectedHour = this.currentHour;
        this.selectedMinute = this.currentMinute;

        // Populate days initially
        this.updateDays();
    },
};
</script>
